@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F8F5EC;
}
button{
    cursor: pointer;
}
.logo{
    width: 200px;
    height: 100px;
}
.navegacion{
    display: flex;
    background-color: #FFCC63;
}
.navegacion ul{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style: none;
    z-index: 1;
}
.navegacion ul li{
    border-radius: 15px;
    transition: .5s;
}
.navegacion ul li a{
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: #50413C;
    font-family: 'Kreon', serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.navegacion ul li:hover{
    background-color: #F5834D;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
}
.navegacion ul a:hover{
    color: #F8F5EC;
}
.login{
    width: 100%;
    height: 832px;
    display: flex;
    align-items: center;
}
.container {
    width: 40%;
    height: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F5834D;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%)
}
.container i{
    width: 100%;
    text-align: center;
    margin: 50px 0;
    font-size: 80px;
    color: #FFFFFF;
}
.container form{
    margin: 50px;
}
.container input{
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
}
.btns{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.remember-me{
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #50413C;
    font-family: 'Kreon', serif;
    font-size: 20px;
}
.btns a{
    text-decoration: none;
    color: #50413C;
    font-family: 'Kreon', serif;
    font-size: 20px;
    transition: .5s;
}
#recordar{
    width: 25px;
    height: 25px;
    margin: 0;
}
.container button{
    width: 60%;
    height: 50px;
    margin: 50px 20%;
    border: none;
    border-radius: 10px;
    color: #F5834D;
    font-family: 'Kreon', serif;
    font-size: 24px;
    transition: .5s;
}
.btns a:hover{
    color: #FFFFFF;
}
.container button:hover{
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
}