/* importación de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F8F5EC;
    overflow-x: hidden;
}
button{
    cursor: pointer;
}
.sidenav{
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFCC63;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
    display: none;
}
.sidenav a{
    padding: 8px 20px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Kreon', serif;
    text-align: center;
    color: #50413C;
    display: block;
    transition: 0.5s
}
.sidenav a:hover{
    color: #F8F5EC;
    background-color: #F5834D;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
}
#main{
    transition: margin-left .5s;
    overflow:hidden;
    width:100%;
}
.topnav{
    background-color: #FFCC63;
    overflow: hidden;
    display: none;
}
.topnav a{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #50413C;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover{
    color: #F8F5EC;
    background-color: #F5834D;
}
.logo{
    width: 200px;
    height: 100px;
}
.navegacion{
    display: flex;
    background-color: #FFCC63;
}
.navegacion ul{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style: none;
    z-index: 1;
}
.navegacion ul li{
    border-radius: 15px;
    transition: .5s;
}
.navegacion ul li a{
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: #50413C;
    font-family: 'Kreon', serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.navegacion ul li:hover{
    background-color: #F5834D;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
}
.navegacion ul a:hover{
    color: #F8F5EC;
}
.login{
    width: 100%;
    height: 832px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,25%) inset;
}
.container {
    width: 40%;
    height: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFCC63;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%)
}
.container i{
    width: 100%;
    text-align: center;
    margin: 50px 0;
    font-size: 80px;
    color: #FFFFFF;
}
.container form{
    margin: 50px;
}
.container input{
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
}
::placeholder{
    font-family: 'Kreon', serif;
    font-size: 20px;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.remember-me{
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #50413C;
    font-family: 'Kreon', serif;
    font-size: 20px;
}
.btns a{
    text-decoration: none;
    color: #50413C;
    font-family: 'Kreon', serif;
    font-size: 20px;
    transition: .5s;
}
#recordar{
    width: 25px;
    height: 25px;
    margin: 0;
    cursor: pointer;
}
.container button{
    width: 60%;
    height: 50px;
    margin: 50px 20%;
    border: none;
    border-radius: 10px;
    color: #50413C;
    font-family: 'Kreon', serif;
    font-size: 24px;
    transition: .5s;
}
.btns a:hover{
    color: #FFFFFF;
}
.container button:hover{
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
    color: #FFFFFF;
    background-color: #F5834D;
}
/* diseño adaptativo a los diferentes dispositivos */
@media (min-width: 1366px) and (max-width: 1439px) {
    .navegacion ul li a{
        width: 75px;
    }
}
@media (min-width: 720px) and (max-width: 1365px) {
    .navegacion{
        display: none;
    }
    .sidenav{
        display: block;
    }
    .topnav{
        display: block;
    }
    .container{
        width: 75%;
    }
    ::placeholder{
        font-size: 24px;
    }
    .remember-me{
        width: 185px;
        font-size: 24px;
    }
    .btns a{
        font-size: 24px;
    }
    .container button{
        font-size: 24px;
    }
}
@media (min-width: 375px) and (max-width: 719px) {
    .navegacion{
        display: none;
    }
    .sidenav{
        display: block;
    }
    .sidenav a{
        font-size: 18px;
    }
    .topnav{
        display: block;
    }
    .container{
        width: 85%;
        height: 500px;
    }
    .container i{
        margin: 25px 0;
        font-size: 40px;
    }
    ::placeholder{
        font-size: 16px;
    }
    .container form{
        margin: 0;
    }
    .remember-me{
        width: 120px;
        font-size: 16px;
    }
    .btns a{
        font-size: 16px;
    }
    .container button{
        font-size: 16px;
    }
    #recordar{
        width: 18px;
        height: 18px;
    }
}
@media (min-width: 360px) and (max-width: 374px) {
    .navegacion{
        display: none;
    }
    .sidenav{
        display: block;
    }
    .sidenav a{
        font-size: 18px;
    }
    .topnav{
        display: block;
    }
    .container{
        width: 85%;
        height: 450px;
    }
    .container i{
        margin: 25px 0;
        font-size: 40px;
    }
    ::placeholder{
        font-size: 16px;
    }
    .container form{
        margin: 0;
    }
    .remember-me{
        width: 120px;
        font-size: 16px;
    }
    .btns a{
        font-size: 16px;
    }
    .container button{
        font-size: 16px;
        margin: 25px 20%;
    }
    #recordar{
        width: 18px;
        height: 18px;
    }
}